<mat-card>
  <h4>Profile Information</h4>
  <div class="pt-3">
    <div class="proflie-field mb-3">
      <label>First Name:</label>
      <span>{{user.fname}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>Last Name:</label>
      <span>{{user.lname}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>Mobile Number:</label>
      <span>{{user.phoneNo}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>Address:</label>
      <span>{{user.address}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>E-mail id:</label>
      <span>{{user.email}}</span>
    </div>

    <button mat-raised-button color="accent" [routerLink]="['edit']" [queryParams]="{type:'info'}">Edit</button>
  </div>
</mat-card>
